/* PROJECTS INDEX PAGE
-------------------------------------------------- */
.projects-content {  
  display: none;
}
.projects-content .row {
  max-width: 80%;
  margin: 0 auto;
}
.projects-content h2 {
  font-weight: normal;
}

/* PROJECTS LAYOUT (PAGE FOR EACH INDIVIDUAL PROJECT)
-------------------------------------------------- */
.project-description {
  text-align: justify;
}

.project-description h1, h2 {
  text-align: center;
}
.project-description h3, h4, h5 {
  font-weight:bold;
}

.project-description li {
  list-style-position: inside;
}

#project-carousel {
  border: 2px solid;
  border-radius: 6px; 
}

#project-icons {
  text-align: justify; 
  padding-top: 8px;
}
.align-left {
  text-align: left; 
}

.project-content p {
  text-indent:50px;
}

.project-back-links {
  text-align: right;
  padding-top: 20px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
/* Extra small devices ONLY (mobile devices, 768px or less) */
@media (max-width: 768px) {
  .projects-content .row {
    max-width: 100%;
  }    
  .project-back-links {
    text-align: center;
    padding-top: 20px;
  }  
  .project-description ul {
    padding: 15px;
  }  
}

/* Small devices and up (tablets, 768px and up) */
@media (min-width: 768px) {
  .projects-content .row {
    max-width: 70%;
  }  
  .pull-sm-left {
    float: left;
  }
  .pull-sm-right {
    float: right;
  }  
  #extra-space {
    height: 20px;
  }
}

/* Medium devices and up (desktops, 992px and up) */
@media (min-width: 992px) {
  .projects-content .row {
    max-width: 80%;
  }  
  #project-carousel {
    max-width: 700px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
