/* PROJECTS INDEX PAGE
-------------------------------------------------- */
.projects-content {  
  display: none;
}
.projects-content .row {
  max-width: 80%;
  margin: 0 auto;
}
.projects-content h2 {
  font-weight: normal;
}

/* PROJECTS LAYOUT (PAGE FOR EACH INDIVIDUAL PROJECT)
-------------------------------------------------- */
.project-content-wrapper {
  padding-top: 12%;
}

.project-description {
  text-align: justify;
}

.project-description h1, h2 {
  text-align: center;
}
.project-description h1 {
  padding-bottom: 15px;
}
.project-description h3, h4, h5 {
  font-weight:bold;
}

.project-description li {
  margin-left: 10px;
}

#project-carousel {
  border: 2px solid;
  border-radius: 6px; 
}

#project-icons {
  text-align: justify; 
  padding-top: 8px;
}
#project-icons:after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    font-size:0;
    line-height:0;
}

#download {
  display: inline-block;
}

#source-code {
  display: inline-block;
  vertical-align: baseline;  
}

.project-content {
  margin-top: -40px;
}
.project-content p {
  text-indent:50px;
}

.project-back-links {
  text-align: right;
  padding-top: 20px;
  padding-bottom: 30px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
/* Extra small devices ONLY (mobile devices, 768px or less) */
@media (max-width: 768px) {
  .projects-content .row {
    max-width: 100%;
  }    
}

/* Small devices and up (tablets, 768px and up) */
@media (min-width: 768px) {
  .projects-content .row {
    max-width: 70%;
  }  
}

/* Medium devices and up (desktops, 992px and up) */
@media (min-width: 992px) {
  .projects-content .row {
    max-width: 80%;
  }  
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
