---
layout: default
extra_css:
  - /assets/css/projects.css
extra_scripts:
  - /assets/js/projects.js
---
    <div class="project-description">
      <h1 name="top">{{ page.project-name }}</h1>
      {% if page.image_sources.size > 0 %}  
        <div class="top-padding-15">
          {% include carousel.html image_sources=page.image_sources %}
        </div>
      {% endif %}

      {% if page.downloadable == true or page.website or page.source-code %}
        <div id="project-icons" >
          {% if page.downloadable == true %}
            <p class="pull-sm-left"><strong>Download:&nbsp;</strong>
                <a href="{{ page.download-windows }}">
                  <img src="/assets/icons/Windows_sm_grey.jpg" src-on-hover="/assets/icons/Windows_sm_color.jpg" class="img-rounded" alt="" title="Download for Windows">
                </a>                      
            </p>
          {% elsif page.website %}
            <p class="pull-sm-left align-left"><strong>Project website:&nbsp;</strong>
              <a href="{{ page.website }}">{{ page.website }}</a>
            </p>
          {% endif %}
          
          {% if page.source-code %}
            <p class="pull-sm-right"><strong>Source code:&nbsp;</strong>
              <a href="{{ page.source-code }}">
                <img src="/assets/icons/Github_sm_grey.jpg" src-on-hover="/assets/icons/Github_sm_color.jpg" class="img-rounded" alt="" title="View the Github page for this project">
              </a>          
            </p>
          {% endif %}
        </div>
        <div id="extra-space"></div>
      {% endif %}

      <div class="project-content">
        {{ content }}
      </div>

      <div class="project-back-links">
        <a href="#top">Back to top</a>&nbsp;&nbsp; | &nbsp;&nbsp;
        <a href="/index.html">Home</a>&nbsp;&nbsp; | &nbsp;&nbsp;
        <a href="/projects/">Projects</a>
      </div>
    </div>
